# copy this file and rename it to ".env"
ENV="dev" # or 'prod' option
MYSQL_URL="mysql+pymysql://user:password@localhost/demo_db"
SQLITE_URL="sqlite:///./local.db"
SECRET_KEY="dev-secret"
ALGORITHM="HS256"
ACCESS_TOKEN_EXPIRE_MINUTES=60
GIT_COMMIT=unknown
DEPLOYED_AT=unknown