# dependencies required for runtime 

# direct / indirect that should be declared
fastapi
sqlalchemy
pymysql
passlib[argon2]
python-jose[cryptography]
python-dotenv
pydantic[email]

# devtools
pip-tools
uvicorn
pytest
httpx
black
flake8