/* Hide scrollbar but keep scrolling */

.no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.no-scrollbar::-webkit-scrollbar {
    display: none;
}

/* Changing month in MonthView animation */

@keyframes calendarFade {
    from {
        opacity: 0;
        transform: translateY(6px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.animate-calendar-fade {
    animation: calendarFade 180ms ease;
}